<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <title>Document</title>
</head>

<body>
  <div class="button-container">
    <button class="btn {{pageHome}}"><a href="/">回到首頁</a></button>
    <button class="btn {{pageAbout}}"><a href="/about">About</a></button>
    <button class="btn {{pagePortfolio}}"><a href="/portfolio">Portfolio</a></button>
    <button class="btn {{pageContact}}"><a href="/contact">Contact</a></button>
  </div>


  {{{body}}}

</body>

</html>